In [6]:
%matplotlib inline
import geopandas as gpd

In [11]:
cancerCounty = gpd.read_file('/Users/sig/projects/geospatialProject1/data/files/cancer_county')
cancerTracts = gpd.read_file('/Users/sig/projects/geospatialProject1/data/files/cancer_tracts')
wellNitrate = gpd.read_file('/Users/sig/projects/geospatialProject1/data/files/well_nitrate')

In [8]:
cancerCounty.columns

Index(['GEOID10', 'canrate', 'cid', 'nitrate', 'geometry'], dtype='object')

In [9]:
cancerCounty.head()

,GEOID10,canrate,cid,nitrate,geometry
0,55125950600,0.49,5512,4.0764,"(POLYGON ((-89.487471 45.898407, -89.487491999..."
1,55133204003,0.20,5513,2.4071,"(POLYGON ((-88.30638399999999 42.842095, -88.3..."
2,55141011500,0.07,5514,0.6522,"POLYGON ((-89.724954 44.395104, -89.7249209999..."
3,55119960500,0.00,5511,3.0118,"(POLYGON ((-90.925287 45.301965, -90.925282999..."
4,55078940101,0.01,5507,4.2507,"(POLYGON ((-87.95199199999999 42.843547, -87.9..."

In [12]:
cancerTracts.head()

,GEOID10,canrate,nitrate,geometry
0,55037190100,0.03,3.4160,"POLYGON ((-88.33931899999999 45.885932, -88.33..."
1,55037190200,0.11,2.9481,"POLYGON ((-88.156606 45.716796, -88.161957 45...."
2,55019950300,0.09,4.8840,"POLYGON ((-90.64165 44.945088, -90.641668 44.9..."
3,55019950700,0.01,4.8781,"POLYGON ((-90.650733 44.562148, -90.651234 44...."
4,55019950600,0.13,3.6830,"POLYGON ((-90.336474 44.685055, -90.336339 44...."

In [13]:
wellNitrate.head()

   TARGET_FID  nitr_ran                                geometry
0           0  4.307932          POINT (-89.4790088 44.2088619)
1          10  5.725421         POINT (-88.1881436 42.49918548)
2          20  4.349957         POINT (-87.9525788 42.50307538)
3          30  3.570353   POINT (-88.08508399999999 42.5058525)
4          40  8.157765  POINT (-90.21568190000001 42.50805959)